<FilesMatch "^.*\.md$">
    Deny from all
</FilesMatch>
<FilesMatch "^\.">
    Deny from all
</FilesMatch>
<Files index.html>
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
</Files>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
        RewriteRule ^m/iphone-8.png$ m/iphone-8.png?/$1 [L]
        RewriteRule ^m/(.*)$ m/index.html?/$1 [L]
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>
<FilesMatch "apple-app-site-association">
    ForceType application/pkcs7-mime
</FilesMatch>